h1 {
  color: grey;
}

img {
  width: 250px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0, auto;
  padding: 10px;
}
a {
  color: gray;
  text-decoration: none;
  margin: 10px;
}
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px;
  border-top: 1px solid gray;
  color: gray;
}
